
<div class="row bg-color">
    <div class="col-md-4" style="margin-top: 2%;">
            <h3>MY ACCOUNT</h3>
    </div>
    <div  class="col-md-8" style="margin-top: 4%;">
        <h5>ACCOUNT INFORMATION <i class="fa fa-edit"></i></h5>
        <ul style="list-style: none;">
            <li><b>Shopper ID: </b>4804524498</li>
            <br>
            <li><b>Email Address: </b>kprajapati@epsilonium</li>
        </ul>
        <h5>PERSONAL INFORMATION <i class="fa fa-edit"></i></h5>
        <ul style="list-style: none;">
            <li><b>Name: </b>4804524498</li>
            <li><b>Phone: </b>kprajapati@epsilonium</li>
            <li><b>Birth Month/Year: </b>09/1993</li>
            <li><b>Address 1: </b>tempe</li>
            <li><b>Address 2: </b></li>
            <li><b>City, State, Zip Code: </b>tempe1, Indiana, 55557</li>
        </ul>
    </div>
</div>